@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.aboutMeBox {
    margin: 0 auto;
    padding: 4rem 2rem;
    max-width: 71.25rem;
    width: 100%;
}

.titleBox {
    margin: 0 auto 3rem;
    display: table;
    line-height: 1.5;
    font-family: 'Lato', sans-serif; /* Using Lato with a fallback to sans-serif */
    font-size: 2rem; /* Assuming 2rem is appropriate, adjust as needed */
    font-weight: 700; /* Bold weight to make the title stand out */
    letter-spacing: 0.05em; /* Adding some spacing to improve legibility */
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5); /* Optional text shadow for better readability on variable backgrounds */
}

.title {
    display: table-cell;
    vertical-align: middle;
    border-bottom: 2px solid #555050;
    padding-bottom: .5rem;
}

.infoBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    -webkit-box-pack: justify;
}

.contentBox {
    width: 33.3333%;
    margin-bottom: 2rem;
}

.content {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 14rem;
    margin: 0 auto;
    opacity: .8;
}

.infoImg {
    font-size: 32px;
    margin-top: .2rem;
    margin-right: 2rem;
}

.contentLabel {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.contentValue {
    font-size: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .contentBox {
        width: 100%;
    }
}