@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

.bannerImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/images/banner.jpg');
    width: 100%;
    height: 559px;
}

.bannerContent {
    font-family: black italic serif;
    color: #fff;
    font-size: 50px;
    z-index: 1000;
    height: 559px;
}

.bannerTitle {
    font-family: 'Nunito Sans', sans-serif; /* Using Nunito Sans for a clean, professional look */
    font-size: 3rem;
    color: #ffffff; /* White color for high contrast */
    letter-spacing: 0.1em; /* Moderate spacing to enhance readability */
    font-weight: 700;
    text-align: center;
    padding-top: 200px;
    z-index: 1000;
}


.roleDescription {
    font-family: 'Nunito Sans', sans-serif; /* Consistency with the title */
    font-size: 2.75rem; /* Smaller size for the subtitle */
    font-weight: 600; /* Regular weight for the role description */
    color: #ffffff; /* Maintaining the same color for consistency */
    letter-spacing: 0.05em; /* Slightly tighter letter spacing for the subtitle */
    text-align: center; /* Centering the text */
    padding-top: 50px;
}