.chatbot {
  position: fixed;
  bottom: 20px;
  right: 59.5px;
  width: 70px;
  z-index: 1000;
}

.chatbotBtn {
  width: 70px;
  height: 70px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbotImg {
  width: 60px;
  height: 60px;
}

.chatbotImg:hover,
.chatbotBtn:hover {
  scale: 1.25;
  transition: all 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.chatbotContainer {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 90%;
  max-width: 1200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.chatHeader {
  background-color: rgba(0, 120, 212, 0.9);
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
}

.chatMessages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.chatInputContainer {
  display: flex;
  border-top: 1px solid #ccc;
}

.chatInput {
  flex: 1;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 1em;
}

.sendButton {
  background-color: rgba(0, 120, 212, 0.9);
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.sendButton:hover {
  background-color: rgba(0, 120, 212, 0.9);
}

.message {
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  max-width: 80%;
  display: inline-block;
}

.message.me {
  background-color: #daf8e3;
  align-self: flex-end;
}

.message.bot {
  background-color: #f1f0f0;
  align-self: flex-start;
}

.loading {
  text-align: center;
  color: #888;
}

@media (max-width: 768px) {
  .chatbotContainer {
    width: 90%;
    height: 75%;
  }
  .chatHeader {
    padding: 15px;
    font-size: 1em;
  }
  .chatMessages {
    padding: 10px;
  }
  .chatInput {
    padding: 10px;
    font-size: 0.8em;
  }
  .sendButton {
    padding: 10px;
    font-size: 0.8em;
  }
  .message {
    padding: 10px;
    font-size: 0.8em;
  }
  
}
