.chatbot {
  position: fixed;
  bottom: 20px;
  right: 59.5px;
  width: 70px;
  z-index: 1000;
}

.chatbotBtn {
  width: 70px;
  height: 70px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbotImg {
  width: 60px;
  height: 60px;
}

.chatbotImg:hover,
.chatbotBtn:hover {
  scale: 1.25;
  transition: all 0.3s;
}

.chatbotContainer {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: white;
  z-index: 1000;
}

.chatHeader {
  background-color: #0078d4;
  color: white;
  padding: 10px;
  text-align: center;
}

.chatMessages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.chatInputContainer {
  display: flex;
  border-top: 1px solid #ccc;
}

.chatInput {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.sendButton {
  background-color: #0078d4;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #005bb5;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  display: inline-block;
}

.message.me {
  background-color: #daf8e3;
  align-self: flex-end;
}

.message.bot {
  background-color: #f1f0f0;
  align-self: flex-start;
}

.loading {
  text-align: center;
  color: #888;
}
