.footer {
    height: 11rem;
    padding-top: 3rem;
    background-color: #222;
}
.footerContent {
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.footerElement {
    margin: 10px;
    cursor: pointer;
    z-index: 1000;
}

.fontawesome {
    font-size: 40px;
    z-index: 1000;
    color: white;
}

.fontawesome:hover {
    opacity: 1;
    color: rgba(255, 255, 255, 0.7);
}

.footerCopyRight {
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    z-index: 1000;
}
/* .tistory {
    color: rgb(255, 72, 0);
}

.linkedin {
    color: #0077B5;
} */