.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  transition: all 0.5s;
  z-index: 1001;
}

.navContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  max-width: 1200px;
  z-index: 1001;
}

.Logo {
  padding-left: 20px;
  font-size: 30px;
  color: hsla(0, 0%, 100%, .7);
  cursor: pointer;
}

.navContent {
  display: flex;
  margin-right: -250px;
}

.navElement {
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
  padding: 5px;
  color: hsla(0, 0%, 100%, .7);
  cursor: pointer;
}

.navWhite {
  background-color: #fff;
}

.Logo:hover,
.navElement:hover {
  color: #fff;
  transition: all 0.5s;
}

.LogoWhite,
.navElementWhite {
  color: #453a33;
  transition: all 0.5s;
}

.LogoWhite:hover,
.navElementWhite:hover {
  color: #f4623a;
}

.bars {
  display: none;
}

.barbutton {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.menuBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .bars {
      display: block;
      font-size: 30px;
      margin-right: 20px;
      color: #453a33;
      cursor: pointer;
      background-color: #fff;
  }

  .bars:hover {
      color: #f4623a;
      transition: all 0.3s;
  }

  .navContent {
      display: none;
      border: none;
  }

  .navContentMobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #fff;
      position: fixed;
      top: 100px;
      left: 0;
      z-index: 1001;
  }

  .navElement {
      border-top: solid 1px rgba(0, 0, 0, 0.1);
      font-size: 20px;
      color: #453a33;
      padding: 10px 0;
      text-align: center;
  }

  .navElement:hover {
      color: #f4623a;
  }

  .nav {
      background-color: #fff;
  }

  .Logo {
      font-size: 25px;
      color: #453a33;
  }

  .Logo:hover {
      color: #f4623a;
  }
}

/* Ensure bars icon is hidden on desktop */
@media (min-width: 769px) {
  .bars {
      display: none !important;
  }
}
